.kyellow-btn{
    height: 40px;
    line-height: 7px;
    border: 1px solid transparent;
    background-color: rgb(243, 231, 63);
    border-color: rgb(243, 231, 63);
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    transition:background-color 0.5s;
    -webkit-transition:background-color 0.5s;
    -moz-transition:background-color 0.5s;
    -ms-transition:background-color 0.5s;
    -o-transition:background-color 0.5s;
}
.kyellow-btn:hover{
    height: 40px;
    line-height: 7px;
    border: 1px solid transparent;
    background-color: rgb(247, 240, 144);
    border-color: rgb(247, 240, 144);
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
}
.kblue-btn{
    height: 40px;
    line-height: 7px;
    border: 1px solid transparent;
    background-color: rgb(97, 173, 236);
    border-color: rgb(97, 173, 236);
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    transition:background-color 0.5s;
    -webkit-transition:background-color 0.5s;
    -moz-transition:background-color 0.5s;
    -ms-transition:background-color 0.5s;
    -o-transition:background-color 0.5s;
}
.kblue-btn:hover{
    height: 40px;
    line-height: 7px;
    border: 1px solid transparent;
    background-color: rgb(133, 192, 240);
    border-color: rgb(133, 192, 240);
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
}
.kgreen-btn{
    height: 40px;
    line-height: 7px;
    border: 1px solid transparent;
    background-color: rgb(85, 231, 122);
    border-color: rgb(85, 231, 122);
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    transition:background-color 0.5s;
    -webkit-transition:background-color 0.5s;
    -moz-transition:background-color 0.5s;
    -ms-transition:background-color 0.5s;
    -o-transition:background-color 0.5s;
}
.kgreen-btn:hover{
    height: 40px;
    line-height: 7px;
    border: 1px solid transparent;
    background-color: rgb(121, 241, 151);
    border-color: rgb(121, 241, 151);
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
}
.kpink-btn{
    height: 40px;
    line-height: 7px;
    border: 1px solid transparent;
    background-color: rgb(255, 82, 82);
    border-color: rgb(255, 82, 82);
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    transition:background-color 0.5s;
    -webkit-transition:background-color 0.5s;
    -moz-transition:background-color 0.5s;
    -ms-transition:background-color 0.5s;
    -o-transition:background-color 0.5s;
}
.kpink-btn:hover{
    height: 40px;
    line-height: 7px;
    border: 1px solid transparent;
    background-color: rgb(253, 113, 113);
    border-color: rgb(253, 113, 113);
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
}
.kgray-btn{
    height: 40px;
    line-height: 7px;
    border: 1px solid transparent;
    background-color: rgb(141, 141, 141);
    border-color: rgb(141, 141, 141);
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    transition:background-color 0.5s;
    -webkit-transition:background-color 0.5s;
    -moz-transition:background-color 0.5s;
    -ms-transition:background-color 0.5s;
    -o-transition:background-color 0.5s;
}
.kgray-btn:hover{
    height: 40px;
    line-height: 7px;
    border: 1px solid transparent;
    background-color: rgb(185, 182, 182);
    border-color: rgb(185, 182, 182);
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
}
.k-ipt{
    height: 40px;
    border: 1px solid transparent;
    background-color: rgb(255, 255, 255);
    border-color: rgb(141, 141, 141);
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    transition:border-color 0.5s;
    -webkit-transition:border-color 0.5s;
    -moz-transition:border-color 0.5s;
    -ms-transition:border-color 0.5s;
    -o-transition:border-color 0.5s;
    transition:border-radius 0.5s;
    -webkit-transition:border-radius 0.5s;
    -moz-transition:border-radius 0.5s;
    -ms-transition:border-radius 0.5s;
    -o-transition:border-radius 0.5s;
}
.k-ipt:hover{
    height: 40px;
    border: 1px solid transparent;
    background-color: rgb(255, 255, 255);
    border-color: rgb(185, 182, 182);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.kj-btn{
    height: 40px;
    line-height: 7px;
    border: 1px solid transparent;
    background: rgb(198,56,249);
    background: linear-gradient(149deg, rgba(198,56,249,1) 11%, rgba(66,205,210,1) 95%);

    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;

}
.kj-btn:hover{
    height: 40px;
    line-height: 7px;
    border: 1px solid transparent;
    background-color: rgb(185, 182, 182);
    background: rgb(210,113,246);
    background: linear-gradient(149deg, rgba(210,113,246,1) 11%, rgba(94,215,220,1) 95%);
    border-radius:12px;

}
